* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vh;
}
.grid-container {
  background-color: black;
  height: 800px;
  width: 700px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(35, 1fr);
  gap: 10px;
}
.black {
  background-color: rgb(72, 72, 72);
  grid-column: span 2;
  grid-row: span 4;
}
.red {
  background-color: red;
  grid-column: span 4;
}
.dark-white {
  background-color: rgb(232, 232, 232);
  grid-column: span 4;
  grid-row: span 18;
}
.white-1 {
  background-color: white;
  grid-column: span 4;
  grid-row: span 17;
}
.white-2 {
  background-color: white;
  grid-column: span 2;
  grid-row: span 10;
}
.white-3 {
  background-color: white;
  grid-column: span 2;
  grid-row: span 4;
}
.dark-white-2 {
  background-color: rgb(232, 232, 232);
  grid-row: span 18;
}
.blue {
  background-color: rgb(31, 31, 108);
  grid-column: span 3;
  grid-row: span 9;
}
.white-4 {
  background-color: white;
  grid-row: span 16;
  grid-column: span 4;
}
.yellow {
  background-color: yellow;
  grid-column: span 2;
  grid-row: span 18;
}
.dark-white-3 {
  background-color: rgb(232, 232, 232);
  grid-column: span 3;
  grid-row: span 7;
}
.dark-white-4 {
  background-color: rgb(232, 232, 232);
  grid-column: span 6;
  grid-row: span 2;
}
.black-2 {
  background-color: rgb(72, 72, 72);
  grid-row: span 2;
}
